<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--BoardList {title, content, authId, nickname, createDate, updateDate-->
<div class="contain">
    <div class="boardBox">
        <div class="edit">
<!--            TODO-->
            <div><a href="" th:href="@/{}">수정</a></div>
        </div>
        <div class="boardTitle">
            <div th:text="${board.title}">제목</div>
            <div th:text="${board.nickname">회원 닉네임</div>
            <div th:text="${board.updateDate">최종 수정 날짜</div>
        </div>
        <div class="boardContent">
            <div th:text="${board.content}"> 내용 </div>
        </div>
    </div>
</div>
</body>
</html>