<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--BoardList {title, content, authId, nickname, createDate, updateDate-->
<form th:action  th:object="${board}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}"
           th:text="${err}">글로벌 오류</p>
    </div>

    <div>
        <label for="title" th:text="#{label.board.title}">제목</label>
        <input type="text" id="title" th:field="*{title}" placeholder="제목 입력">
        <div th:errors="*{title}">제목 오류</div>
    </div>

<div>
    <label for="content" th:text="#{label.board.content}">내용</label>
    <textarea id="content" th:field="*{content}" placeholder="내용 입력" />
    <div th:errors="*{content}">본문 내용 오류</div>
</div>
</form>
</body>
</html>